.table-container {
  margin-bottom: 80px !important;
  font-size: 14px;
}

.table {
  border-top: 2px solid rgb(128, 16, 16);
  text-align: center !important;
}

th {
  text-align: center !important;
  font-family: 'Lemonada', cursive;
}

h1 {
  text-emphasis: bold;
  font-family: 'Lemonada', cursive;
  background-color: burlywood;
  padding: 20px;
}

.search {
  padding: 15px;
}

footer {
  background-color: burlywood;
  text-align: center;
  font-family: 'Lemonada', cursive;
  padding: 12px;
}